{% extends 'base.html.twig' %}

{% block title %}Mountain guide{% endblock %}


{% block body %}


<h1 class="main-title">Alpinism, Ski, Climbing</h1>



<a href="#main-section" class="btn more-link button-link">Start</a>
<div class="slider-wrapper">    

   <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{asset('images/bg1.jpg')}}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{asset('images/bg2.jpg')}}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{asset('images/bg3.jpg')}}" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
{# end hero #}


<a href="#top" id="main-section">
  <i class="far fa-arrow-alt-circle-up back-top"></i>
</a>

<hr class="bg-white my-5" id="">

<main class="container mt-3">

    {# // alpinism section #}
    <div class="row my-5">
        <div class="col-4">
            <h2>Alpinism</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos voluptates provident molestias dolore blanditiis iusto omnis commodi nemo officia. Ratione voluptatem aperiam impedit nobis dicta numquam sequi iste quo fuga.</p>
        </div>
        <div class="col-8">
          <div id="carouselAlpi" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{asset('images/alpi/alpi1.jpg')}}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{asset('images/alpi/alpi2.jpg')}}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{asset('images/alpi/alpi3.jpg')}}" class="d-block w-100" alt="...">
            </div>
            </div>
            <a class="carousel-control-prev" href="#carouselAlpi" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselAlpi" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
      </div>
        </div>
    </div>    

    <hr>
    
    {# // climb section #}
    <div class="row my-5">
        <div class="col-8">
          <div id="carouselClimb" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{asset('images/climb/climb1.jpg')}}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{asset('images/climb/climb2.jpg')}}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{asset('images/climb/climb3.jpg')}}" class="d-block w-100" alt="...">
            </div>
            </div>
            <a class="carousel-control-prev" href="#carouselClimb" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselClimb" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
        </div>
      </div>

        <div class="col-4">
            <h2>Climbing</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos voluptates provident molestias dolore blanditiis iusto omnis commodi nemo officia. Ratione voluptatem aperiam impedit nobis dicta numquam sequi iste quo fuga.</p>
        </div>
    </div>

    <hr>

     {# // ski section #}
     <div class="row my-5">
      <div class="col-4">
          <h2>Ski</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos voluptates provident molestias dolore blanditiis iusto omnis commodi nemo officia. Ratione voluptatem aperiam impedit nobis dicta numquam sequi iste quo fuga.</p>
      </div>
          <div class="col-8">
            <div id="carouselSki" class="carousel slide carousel-fade" data-ride="carousel">
              <div class="carousel-inner">
              <div class="carousel-item active">
                  <img src="{{asset('images/ski/ski1.jpg')}}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                  <img src="{{asset('images/ski/ski2.jpg')}}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                  <img src="{{asset('images/ski/ski3.jpg')}}" class="d-block w-100" alt="...">
              </div>
              </div>
              <a class="carousel-control-prev" href="#carouselSki" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselSki" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
              </a>
          </div>
        </div>
      </div>

  <hr>
      
    {# // ice climb section #}
    <div class="row my-5">
      <div class="col-8">
        <div id="carouselSki" class="carousel slide carousel-fade" data-ride="carousel">
          <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="{{asset('images/ice/ice1.jpg')}}" class="d-block w-100" alt="...">
          </div>
        
          </div>
          <a class="carousel-control-prev" href="#carouselSki" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselSki" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
          </a>
      </div>
    </div>

      <div class="col-4">
          <h2>Ice Climbing</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos voluptates provident molestias dolore blanditiis iusto omnis commodi nemo officia. Ratione voluptatem aperiam impedit nobis dicta numquam sequi iste quo fuga.</p>
      </div>
  </div>

</main>

<hr>

<div class="contact container my-5" id="contact-form">
  {% include "contact.html.twig" %}
</div>

<div class="footer mt-5 bg-dark">
  <h5 class="text-light p-5">footer</h5>
</div>

{% endblock %}
