{{ form_start(form) }}
    {{ form_widget(form) }}
    
    {# check if route is "_edit" -> display images #}

    {% if app.request.attributes.get('_route') == 'album_edit' %}
        <h2>Image</h2>
        <div class="row">
            {% for img in album.images %}
            <div class="m-4 border p-2">
                <img src="{{asset('uploads/' ~ img.name)}}" alt="" class="" width="130">
                <a href="{{path('delete_img', {'id': img.id})}}" 
                   data-delete data-token="{{csrf_token('delete' ~ img.id)}}">
                   &times; Supprimer 
                </a>
            </div>
            {% endfor %}
        </div>
    {% endif %}

    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
